
@if (Model.provider == "Vkontakte")
{            
    <button id="get-friends-info-btn" class="btn btn-default">Get friends info</button>
    <button id="get-user-tracks" class="btn btn-default">Get user tracks</button>
    <input class="form-control" id="searchTrackName" placeholder="Enter track name or author for search">
    <div class="draggable" id="vk-track-list">
        <div id="vkMusicTable" class="vkMusicTable">
            <div class="tableTitle">User Tracks</div>
            <div id="progressSlider" style="display: none"></div>
            <div class="draggable-list vkMusicList"></div>
        </div>
    </div>
    <div id="forbidden" class="alert alert-danger" style="display: none; margin-top: 10px">
        <p class="error"></p>
    </div>
}
