
@if (Model.provider == "Vkontakte")
{
    <input class="form-control" id="searchTrackName" placeholder="Enter track name or author for search">
    <div class="draggable" id="vk-track-list">
        <div id="vkMusicTable" class="vkMusicTable">
            <div class="tableTitle">User Tracks</div>
            <div id="progressSlider" style="display: none"></div>
            <div class="draggable-list vkMusicList"></div>
        </div>
    </div>
}
