
@if (Model.provider == "Vkontakte")
{
    <h2>UserTracks:</h2>

    <div class="table-responsive">
        <table class="table table-striped" id="tracksTable">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Import</th>
                </tr>
            </thead>
            <tbody id="tracks"></tbody>
        </table>
    </div>
    <a class="btn btn-primary" id="applyBtn">Apply &raquo;</a>
}


