
@if (Model.provider == "Vkontakte")
{
    <div class="draggable">
        <input class="form-control" id="searchTrackName" placeholder="Enter track name or author for search" />
        <div id="vkMusicTable" class="vkMusicTable">
            <div class="tableTitle">User Tracks</div>
            <div id="progressSlider" style="display: none"></div>
            <div class="draggable-list vkMusicList"></div>
        </div>
    </div>
}
