
@if (Model.provider == "Vkontakte")
{
    <div>
        <h2>UserTracks:</h2>

        <div class="table-responsive">
            <table class="table table-striped col-md-offset-1" id="tracksTable">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Import</th>
                    </tr>
                </thead>
                <tbody id="tracks"></tbody>
            </table>
        </div>
        
        <div class="form-group">
            <label for="inputPlaylistName" class="col-md-2 col-md-offset-1 control-label">Playlist name:</label>
            <div class="col-md-2">
                <input class="form-control" id="inputPlaylistName" placeholder="Playlist name">
            </div>
            <label for="setAccessibilty" class="col-md-2 control-label">Accessibilty:</label>
            <select class="form-control col-md-2" id="setAccessibilty">
                <option>Private</option>
                <option>Public</option>
            </select>
            <a class="btn btn-primary col-md-offset-11" data-provider=@Model.provider id="applyBtn">Apply &raquo;</a>
        </div>
    </div>
}


