
@if (Model.provider == "Vkontakte")
{            
    <button id="get-friends-info-btn" class="btn btn-default">Get friends info</button>
    <button id="get-user-tracks" class="btn btn-default">Get user tracks</button>
    <div id="relogin" class="alert alert-danger" style="margin-top: 10px; z-index: 1001;">
                <p id="error"> Your time has expired, please login again. </p>
                @Html.ActionLink("OK", "ConnectAccount", "Account", null, new { @class = "btn btn-danger btn-large" })
            </div>
    <input class="form-control" id="searchTrackName" placeholder="Enter track name or author for search">
    <div id="vk-track-list">
        <div id="vkMusic-header">
            <div id="vkMusic-header-title">User Tracks</div>
            <div id="vkMusic-header-spinner" class="spinner"></div>
        </div>
        <div id="progressSlider" style="display: none"></div>
        <div id="vkMusicTable" class="vkMusicTable draggable">
            <div class="draggable-list vkMusicList"></div>
        </div>
    </div>
    <div id="forbidden" class="alert alert-danger" style="display: none; margin-top: 10px">
        <p class="error"></p>
    </div>
}
