<div id="audio-player">
    <div id="audio-player-buttons">
        <div id="prev-button"><i class="fa fa-backward"></i></div>
        <div id="play-button"><i class="fa fa-play"></i><i class="fa fa-pause hide"></i></div>
        <div id="next-button"><i class="fa fa-forward"></i></div>
    </div>
    <div id="item-container">
        <div class="track-description">
            <div class="track-info" data-toggle="modal" data-target="#infoModal"><a href="#"><span class="track-artist"></span> - <span class="track-title"></span></a></div>
        </div>
        <div id="progress-bar">
            <div class="progress-current"></div>
            <div class="progress-background"></div>
            <div class="progress-cache"></div>
        </div>
    </div>
    <div id="volume-container">
        <i class="fa fa-volume-up"></i>
        <div id="volumeSlider"></div>
    </div>
    <div id="audio-player-controls">
        <div id="plus-btn"><i class="fa fa-plus"></i></div>
        <div id="shuffle-btn"><i class="fa fa-random"></i></div>
        <div id="repeat-btn"><i class="fa fa-repeat"></i></div>
    </div>
</div>