@model ICollection<Azimuth.Shared.Dto.TracksDto>

@{ Html.RenderPartial("_ChangeLikeStatus");}

<button class="btn btn-default" type="button" id="backToPlaylistsBtn">Back</button>

<h2>@ViewBag.playlistName</h2>

@Html.DisplayFor(x => x);

<script type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="../../Scripts/audioManager.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#playlist-spinner').hide();
        $('#tracksArea').show();
        $('button#backToPlaylistsBtn').off('click').click(function () {
            $('#tracksArea').empty();
            $('#playlistsArea').show();
        });

        var progressSlider = new SliderController({
            sliderSelector: '#progressSlider',
            sliderBarClass: 'progressBar',
            sliderClass: 'progress',
            backgroundSliderClass: 'cache',
            dirrection: 'horizontall'
        });
        var audioManager = new AudioManager(null, progressSlider);

        audioManager.refreshTracks();
        audioManager.bindPlayBtnListeners();

    });
</script>