@using Azimuth.Infrastructure

<div id="barplaylistArea">
    <div id="playlistsArea">
        <h2>Public Playlists</h2>
        <div id="playlists-plated"></div>
    </div>
    <div id="progressSlider" style="display: none"></div>
    <div id="tracksArea" style="display: none; margin-top:10px">
        <div style ="display: inline; font-size:25px; position: relative;">
            <div id="playlistName" style="display: block; float:left; margin-right:20px;"></div>
            <div class="likesCounter" style="font-size:16px; float:left; bottom: 0"></div>
            <div class="btn  btn-default" id="likeBtn"><span class="fa icon"></span></div>
            <div class="btn  btn-default" id="favoriteBtn">Favorite</div>
        </div>
        <h3 id="listeners"></h3>
        <a class="btn btn-primary" id="backToPlaylistsBtn" style="display:none; margin-top: 10px">&laquo;Back</a>
        <div id="playlist-info">
            
            <div id="tracks"></div>
            <div class="listeners"></div>
        </div>
    </div>
</div>
@section styles
{
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
}
@section scripts
{
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/audioManager.js"></script>
    <script type="text/javascript" src="../../Scripts/workWithPublicPlaylists.js"></script>
    <script type="text/javascript" src="../../Scripts/publicPlaylistManager.js"></script>
    <script type="" src="../../Scripts/dragndrop.js"></script>
    <script src="../../Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../Scripts/sliderController.js"></script>
    <script id="playlistTemplate" type="text/x-jQuery-tmpl">
        <div class="playlist-plated" >
            <div class="playlist-plated-info">
                <div class="playlist-plated-info-name">${Name}</div>
                <div>${Duration}</div>
                <div>Created by ${Creator}</div>
                <div>${Genres}</div>
                <div class="listeners"></div>
            </div>
        </div>
    </script>
    <script id="playlistTrackTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow draggable-item track">
            <div class="glyphicon glyphicon-play btn btn-default track-play-btn"></div>
            <div class="track-description">
                <div class="track-info">
                    <span class="nowrap">${Artist}</span>
                </div>
                <div class="track-title nowrap">${Name}</div>
            </div>
            <div class="track-duration nowrap">${Duration}</div>
            <div class="track-remaining" style="display: none"></div>
            <div style="display: none" class="track-url">${Url}</div>
            <div style="display: none" class="trackId">${Id}</div>
        </div>
    </script>
}
