@model Azimuth.DataAccess.Entities.User

@Styles.Render("~/Content/PublicPlaylists.css")

<div id="playlist-spinner" class="spinner loader"></div>
<div id="barplaylistArea">
    <div id="playlistsArea">
        <h2>Public Playlists</h2>
        <div id="playlists-plated">
            @if (Request.IsAuthenticated)
            {
                
                    Html.RenderAction("_PublicPlaylists", "PublicPlaylists", new {Model.PlaylistFollowing});
                
            }
            else
            {
                Html.RenderAction("_PublicPlaylists", "PublicPlaylists");
            }
        </div>
    </div>
    <div id="progressSlider" style="display: none"></div>
    <div id="tracksArea" style="display: none; margin-top:10px"></div>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Track info</h4>
                </div>
                <div id="trackInfo-spinner" class="spinner loader"></div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closeModalBtn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="listenTopBtn" data-dismiss="modal" disabled>Listen top tracks</button>
                </div>
            </div>
        </div>
    </div>

</div>
@section styles
{
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
}
@section scripts
{
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/audioManager.js"></script>
    <script type="" src="../../Scripts/dragndrop.js"></script>
    <script src="../../Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../Scripts/sliderController.js"></script>
    
    <script>
        $(document).ready(function() {
            $('.playlist-plated').hover(function () {
                var $currentPlaylist = $(this);
                $currentPlaylist.find('.playlist-plated-info').show("medium");
            });
            $('.playlist-plated').mouseleave(function () {
                var $currentPlaylist = $(this);
                $currentPlaylist.find('.playlist-plated-info').hide("medium");
            });

            $('#closeModalBtn').click(function() {
                $('#infoModal .modal-body').text('');
                $('#listenTopBtn').attr('disabled', true);
            });
        });
    </script>
}