@model Azimuth.DataAccess.Entities.User

@Styles.Render("~/Content/PublicPlaylists.css")

<div id="playlist-spinner" class="spinner loader"></div>

<div id="barplaylistArea">
    <div id="playlistsArea">
        <h2>Public Playlists</h2>
        <div id="playlists-plated">
            @if (Request.IsAuthenticated)
            {
                
                    Html.RenderAction("_PublicPlaylists", "PublicPlaylists", new {Model.PlaylistFollowing});
                
            }
            else
            {
                Html.RenderAction("_UnauthorizedPublicPlaylists", "PublicPlaylists");
            }
        </div>
    </div>
    <div id="progressSlider" style="display: none"></div>
    <div id="tracksArea" style="display: none; margin-top:10px">
    </div>
</div>
@section styles
{
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
}
@section scripts
{
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/audioManager.js"></script>
    <script type="" src="../../Scripts/dragndrop.js"></script>
    <script src="../../Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../Scripts/sliderController.js"></script>
    
    <script>
        $(document).ready(function() {
            $('.playlist-plated').hover(function () {
                var $currentPlaylist = $(this);
                $currentPlaylist.find('.playlist-plated-info').show("medium");
            });
            $('.playlist-plated').mouseleave(function () {
                var $currentPlaylist = $(this);
                $currentPlaylist.find('.playlist-plated-info').hide("medium");
            });
        });
    </script>
}
