
<div>
    <h2>UserTracks:</h2>

    <div class="table-responsive">
        <div class="playlistsContainer">
            <div class="list accordion" id="playlistsTable">
                <div class="tableHeader">
                    <span>Artist</span>
                    <span>Accessibility</span>
                    <span style="display: none" id="playlistId">${Id}</span>
                </div>
            </div>
        </div>
        <div class="tracksContainer">
            <div id="tracksTable">   
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/myMusicManager.js"></script>
    

    <script id="playlistTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow" style="height: 30px">
            <span>${Name}</span>
            <span>${Accessibilty}</span>
            <span style="display: none" id="playlistId">${Id}</span>
        </div>
    </script> 

    <script id="trackTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow draggable-item track">
            <div class="glyphicon glyphicon-play btn btn-default track-play-btn"></div>
            <div class="track-description"> 
                <div class="track-info">
                    <span class="nowrap">${Artist}</span>
                    <span class="nowrap">${Album}</span>
                </div>
                <div class="track-title nowrap">${Name}</div>
            </div>
            <div class="track-genre nowrap">${Genre}</div>
            <div class="track-duration">${Duration}</div>
            <div style="display: none" id="track-url">${Url}</div>
            <div style="display: none" id="trackId">${Id}</div>
        </div>
    </script>


    <script>
        $(document).ready(function() {
            var manager = new MyMusicManager();
            manager.showPlaylists();
            manager.bindListeners();
        });
    </script>
}