
<div>
    <h2>UserTracks:</h2>

    <div class="table-responsive">
        <table id="tracksTable" class="tablesorter table table-striped col-md-offset-1">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Genre</th>
                    <th>Duration</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody id="tracks"></tbody>
        </table>
    </div>
</div>


<div>
    @Html.TextBox("playlistId")
    <button onclick="addFakeTrack()" class="btn">Add fake track</button>
</div>

@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    
    <script id="trackTemplate" type="text/x-jQuery-tmpl">
        <tr class="removable">
            <td>${Artist}</td>
            <td>${Name}</td>
            <td>${Album}</td>
            <td>${Genre}</td>
            <td>${Duration}</td>
            <td>${Url}</td>
            <td style="display: none" id="trackId">id</td>
        </tr>
    </script>

    <script>
        var template = $("#trackTemplate");
        $(document).ready(
            $.ajax({
                cache: false,
                type: "GET",
                url: "/api/usertracks",
                dataType: "json",
                async: false,
                success: function(tracks) {
                    var list = $('#tracks');
                    for (var i = 0; i < tracks.length; i++) {
                        var track = tracks[i];
                        list.append(template.tmpl(track).appendTo("#tracks"));
                    }
                }
            })
        );


        function addFakeTrack() {
            $.ajax({
                cache: false,
                type: "PUT",
                url: "/api/usertracks/put?id=" + $("#playlistId").val(),
                dataType: "json",
                data: {
                    Name: "Faketrack",
                    Genre: "Pop",
                    Url: "www.fake.com",
                },
                async: false,
                success: function (data) {
                    alert("Track has been added");
                }
            });
        }

    </script>
}