@model IEnumerable<Azimuth.Shared.Dto.VKTrackData>

@{
    ViewBag.Title = "UserTracks";
}

<h2>UserTracks:</h2>

<div class="table-responsive">
    <table class="table table-striped" id="tracksTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Artist)</th>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Duration)</th>
                <th>Import</th>
            </tr>
        </thead>
        <tbody id="tracks"></tbody>
    </table>
</div>
<a class="btn btn-primary" id="applyBtn">Apply &raquo;</a>

@section scripts
{
    <script>
        $.ajax({
            url: '/api/usertracks',
            success: function(tracks) {
                var list = $('#tracks');
                for (var i = 0; i < tracks.length; i++) {
                    var track = tracks[i];
                    list.append('<tr><td>' + track.artist + '</td><td>' + track.title + '</td><td>' + track.duration + '</td><td><input type="checkbox"></td><td style = "display:none" id = "trackId">' + track.id + '</td></tr>');
                }
            }
        });
    </script>
    
    <script>
        $('#applyBtn').click(function() {
            var tableControl = document.getElementById('tracksTable');
            var tracks = [];
            $('input:checkbox:checked', tableControl).each(function() {
                tracks.push($(this).closest('tr').find('#trackId').text());
            }).get();
            console.log(tracks);

            $.ajax({
                url: '/api/usertracks',
                type: 'POST',
                data: JSON.stringify({
                    "Name": "Default",
                    "TrackIds": tracks
                }),
                dataType: 'json',
                contentType: 'application/json',
                async: false
            });
        });
    </script>
}
