#audio-player {
    background: #f5f5f5;
    margin: 10px 0;
    border: 1px solid #e3e3e3;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

#audio-player div{
    height: 100%;
    display: inline-block; 
}

#audio-player #audio-player-buttons {
    width: 20%;
    font-size: 20px;
    text-align: center;
}

#audio-player #audio-player-buttons #prev-button{
    width: 22%;
    margin: 2%;
    cursor: pointer;
}
#audio-player #audio-player-buttons #play-button{
    width: 32%;
    margin: 2%;
    font-size: 25px;
    cursor: pointer;
}
#audio-player #audio-player-buttons #next-button{
    width: 22%;
    margin: 2%;
    cursor: pointer; 
}

#audio-player #item-container {
    width: 49%;
}

#audio-player #item-container #progressSlider {
    width: 90%;
    height: 7px;
    left: 0;
    margin: 0;
    float: left;
}

#audio-player #volume-container {
    width: 15%;
}
#audio-player #volume-container #volumeSlider {
    width: 70%;
    height: 7px;
    left: 0;
    margin: 0;
}

#audio-player #audio-player-controls {
    width: 13%;
}

#audio-player #audio-player-controls > div {
    width: 30%;
    font-size: 16px;
    cursor: pointer;
}