#friends-container {
    height: 93%;
    width: 100%;
}

.friend {
    width: 100%;
    position: relative;
}

.friend-photo {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.friend-photo img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.friend-initials {
    display: inline-block;
}

.friend:hover {
    cursor: pointer;
    background: #FFD386;
}

.friend-active {
    background: #F9851F;
}

.send-message-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}