#playlist-items-container {
    width: 50%;
    height: 100%;
}

#tracksArea {
    height: 100%;
}

.playlistsContainer {
    display: block;
    float: left;
    width: 23%;
}

div.playlist {
    height: 120px;
}

.playlist-info {
    font-size: 11px;
    
}

.playlist-genres {
    vertical-align: bottom;
    height: 50%;
}

.playlist-logo {
    float: left;
    margin: 5px;
}

.playlist-title {
    padding-top: 2px;
}

.playlist div {
    padding-top: 2px
}