.playlistsContainer {
    display: block;
    float: left;
    width: 23%;
}

div.playlist {
    height: 120px;
}

.playlist-info {
    float: left;
    font-size: 11px;
}

.playlist-genres {
    vertical-align: bottom;
    height: 50%;
    /*margin-top: 20px;*/
}

.playlist-logo {
    float: left;
    margin: 5px;
}

.playlist-title {
    padding-top: 5px;
}

.playlist div {
    padding-top: 5px
}