#progress-bar {
	position: relative;
	height: 25px !important;
	width: 90%;
}

.progress-bar-element {
	width: 3px;
	height: 100%;
	float: left;
	position: relative;	
}

.progress-bar-current-element {
	background-color: rgba(0,0,0,0.1);
	width: 100%;
	position: relative;
	z-index: 100;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #f5f5f5;
    display: block !important;
}
		
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.progress-bar-background-element {
	background-color: #f5f5f5;
	width: 100%;
	position: relative;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #f5f5f5;
	z-index: 1000;
    display: block !important;
}

.progress-background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
}

.progress-current {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-image: -ms-linear-gradient(top, #FFD633 0%, #EF7C39 100%);
	background-image: -moz-linear-gradient(top, #FFD633 0%, #EF7C39 100%);
	background-image: -o-linear-gradient(top, #FFD633 0%, #EF7C39 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFD633), color-stop(1, #EF7C39));
	background-image: -webkit-linear-gradient(top, #FFD633 0%, #EF7C39 100%); 
	background-image: linear-gradient(to bottom, #FFD633 0%, #EF7C39 100%);
	z-index: 1;
}

.progress-cache {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-image: -ms-linear-gradient(top, #EF7C39 0%, darkred 100%);
	background-image: -moz-linear-gradient(top, #EF7C39 0%, darkred 100%);
	background-image: -o-linear-gradient(top, #EF7C39 0%, darkred 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EF7C39), color-stop(1, darkred));
	background-image: -webkit-linear-gradient(top, #EF7C39 0%, darkred 100%); 
	background-image: linear-gradient(to bottom, #EF7C39 0%, darkred 100%);
	z-index: 0;
}