#barplaylistArea {
    width: 100%;
    height: 90%
}
#playlistsArea {
    width: 100%;
}
#playlist-name {
    font-size: 25px;
    overflow: hidden;
}
#playlistTracks {
    height: 100%;
}
#tracks-content {
    height: 100%;
    width: 90%;
    margin: auto;
}
#playlistFollowActions .fa {
    padding: 0px 5px 0px 0px;
}
#back-container{
    width: 60%;
    display: inline-block;   
}
#like-container {
    width: 40%;
    min-width: 130px;
}
#backToPlaylistsBtn {
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}
.playlist-plated {
    width: 200px;
    height: 200px;
    max-height: 300px;
    max-width: 300px;
    display: block;
    float: left;
    background-image: url(http://cdns2.freepik.com/free-photo/music-album_318-1832.jpg);
    -ms-background-size:  contain;
    background-size:  contain;
    background-repeat: no-repeat;
    margin: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 4px 4px 5px 1px #888;
}

.playlist-plated-info {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    padding: 10px;
    width: 100%;
}
.playlist-plated-info div{
    margin: 0;
    color: white;
    font-weight: bold;
}

.playlist-plated-info a {
    text-decoration: none;
    color: white;
}

.playlist-plated-info .fa {
    padding: 3px;
}

div.playlistName {
    font-size: 20px;
}