#playlists {
    width: 24%;
    height: 90%;
    top: 50px; /*navbar height*/
    left: 5%;
}

#separator {
    background-color: #222222; 
    width: 70px; 
    left: 30%;
}

#SN {
    left: 30%;
    margin-left: 80px; 
    width: 63%;
    height: 90%;
    overflow: hidden;
}

.tabbable {
    height: calc(100% - 82px);
}

.tab-content {
    height: calc(100% - 42px);
}

#Vkontakte {
    height: 100%;
}

#vk-track-list {
    height: 70%;
}

.stuck {
    position: fixed;
    overflow-y: auto;
    height: 100%;
}

.spacer {
    margin-top: 7px;
    margin-left: 5px;
    width: 80%;
    position: relative;
    overflow: hidden;
    height: 10px;
}

.spacer:after {
    content: "";
    display: block;
    width: 100%;
    margin: -25px auto 0;
    height: 25px;
    -ms-border-radius: 125px/12px;
    border-radius: 125px/12px;
    -webkit-box-shadow: 0 0 8px black;
    -ms-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px black;
}

#buttons {
    position: absolute; 
    background-color: #428bca; 
    top: 20%; 
    height: 196px; 
    width: 100%; 
    border: 3px solid white; 
    -ms-border-radius: 10px; 
    border-radius: 10px
}

#buttons img {
    width: 100%; 
    -ms-border-radius: 10px; 
    border-radius: 10px
}

#volumeImg {
    content: "";
    display: inline-block;
    position: absolute; 
    width: 40px;
    height: 40px;
    top: 60%; 
    left: 50%;
    margin-left: -16px;
    background: url("../Images/media_volume.png") no-repeat 0 0;
}

.volumeBar {
    position: relative;
    width: 10px;
    top: 70%;
    left: 50%;
    margin-left: -5px;
    height: 100px;
    background-color: #ccc;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.volume {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #428bca;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.progressBar {
    position: relative;
    display: block;
    float: right;
    width: calc(100% - 100px);
    margin-top: 5px;
    margin-right: 50px;
    height: 7px;
    background-color: #ccc;
    -ms-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    margin-bottom: 0;
    background-color: #428bca;
    -ms-border-radius: 3px;
    border-radius: 3px;
    z-index: 100;
}

.cache {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    margin-bottom: 0;
    background-color: #7da6c9;
    -ms-border-radius: 3px;
    border-radius: 3px;
    z-index: 10;
}

#playTrackBtn {
    content: "";
    width: 100%;
    height: 27%;
    -ms-border-radius: 10px;
    border-radius: 10px;
    display: block;
    background: url("../Images/media_play_pause.png") no-repeat 8px 0;
}

#backToPlaylistsBtn {
    display: block;
    width: 70px;
}

#trackInfo > div{
    display: block;
    overflow: auto;
    margin-bottom: 10px;
}

.infoDescription {
    width: 75%;
    display: inline;
    float: left;
    margin-left: 10px;
}

.descriptionPhoto {
    width: 20%;
    display: inline;
    float: left;
}

.descriptionPhoto img {
    width: 100%;
}