
.stuck {
    position: fixed;
    overflow-y: auto;
    height: 100%;
}

.spacer {
    margin-top: 5px;
    margin-left: 5px;
    width: 80%;
    position: relative;
    overflow: hidden;
    height: 10px;
}

.spacer:after {
    content: "";
    display: block;
    width: 100%;
    margin: -25px auto 0;
    height: 25px;
    -ms-border-radius: 125px/12px;
    border-radius: 125px/12px;
    -webkit-box-shadow: 0 0 8px black;
    -ms-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px black;
}

#buttons {
    position: absolute; 
    background-color: #4a5acd; 
    top: 30%; 
    height: 30%; 
    width: 100%; 
    border: 2px solid white; 
    -ms-border-radius: 10px; 
    border-radius: 10px
}

#buttons img {
    margin-left: 3px; 
    width: 90%
}