body {
    padding-top: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body.landing-page{
    padding: 0;
}

html, body, .body-content {
    height: 100%;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#user-settings {
    padding: 0;
}

#user-settings > img {
    width: 50px;
    height: 50px;
    padding: 7px;
}

#user-name-item {
    padding: 5px 0px;
    color: white;
}

#log-off-link {
    padding: 0;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.stuck {
    position: fixed;
    overflow-y: auto;
    height: 100%;
}

.spacer {
    margin-top: 5px;
    margin-left: 5px;
    width: 45px;
    position: relative;
    overflow: hidden;
    height: 10px;
}

.spacer:after {
    content: "";
    display: block;
    width: 100%;
    margin: -25px auto 0;
    height: 25px;
    -ms-border-radius: 125px/12px;
    border-radius: 125px/12px;
    -webkit-box-shadow: 0 0 8px black;
    -ms-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px black;
}

.draggable-item {
    top: 0;
	left: 0;
	width: 100px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.draggable-btn {
	height:30px;
	cursor: pointer;
}
.draggable-btn.add {
	width:40%;
}
.draggable-btn.sort {
	width: 30%;
}
.draggable-item:hover {
	background: aquamarine;
	cursor: pointer;
}
.draggable-item.dragging {
	position: absolute;
	z-index: 1000;
}
.draggable-list {
	float: left;
	/*border: 1px lightsteelblue solid;*/
	min-height: 30px;
	min-width: 150px;
}
.draggable-list-empty{
	height: 30px;
	width: 100%;
	border: 1px lightsteelblue solid;
}
/*.draggable-item-selected {
	background: aquamarine;
}*/
#itemsContainer {
	position: absolute;
    opacity: 0.5;
	z-index: 1000;
    display: block;
}
.draggable{
	height: 100%;
	width: 100%;
	position: absolute;
	-moz-user-select:
	-moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.delete-area{
	width: 200px;
	height: 200px;
	border: solid black 1px;
	/*visibility: hidden;*/
	float: left;
}

.accordion {
	width: 100%;
	border-bottom: solid 1px #c4c4c4;
}
div.accordion > div.tableRow{
	font: bold 100%/100% Arial, Helvetica, sans-serif;
	border-bottom: none;
	cursor: pointer;
}
div.accordion > div.dropdown {
    background: #e2e2e2 url(../Images/arrow-square.gif  ) no-repeat right -56px;
}
.accordion .tableRow:hover {
	background-color: #e3e2e2;
}
.accordion .tableRow.active {
	background-position: right 0;
}

div.list{
    height: 100%;
}

div.list span{
	/*width: 50%;*/
  	display:block;
  	float:left;
  	text-align:left;
}

div.tableHeader{
	clear: left;
    width: 100%;
}

div.playlist {
    height: 110px;
}

div.tableRow{
	clear: left;
    width: 100%;
}

.playBtn {
    position: relative;
    top: 10px;
    width: 40px;
    height: 30px;
    left: 20px;
}

div.draggable-list{
	width: 100%;
	display: block;
}

.vkMusicTable {
    height: 70%;
}

.table-header {
    position: relative;
    float: none;
    height: 20px;
}


.table-title {
    width: auto;
    float: left;
    font-weight: bold;
    font-size: larger;
}

.nowrap {
    overflow: hidden; 
    word-wrap: break-word;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.right {
    position: absolute;
    right: 10px;
}

.playlistsContainer {
    display: block;
    float: left;
    width: 23%;
}

.tracksContainer {
    display: block;
    float: left;
    width: 75%;
    margin-left: 20px;
    vertical-align: top;
}

.track {
    display: block;
    height: 50px;
    width: 100%;
    -moz-min-width: 250px;
    -ms-min-width: 250px;
    -o-min-width: 250px;
    -webkit-min-width: 250px;
    min-width: 250px;
    background-color: #F0F0F0;
    margin-top: 10px;
    margin-bottom: 10px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.track:hover {
    background-color: #E0E0E0;
}

.track-description {
    display: inline;
    height: 80%;
    width: 70%;
    left: 10%;
    font-size: 12px;
}

.track-description:hover::after { 
    content: attr(data-title); 
    position: absolute; 
    left: 40%;
    z-index: 1; 
    background: #e0e0e0; 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    padding: 5px 10px; 
    border: 1px solid #333;
    border-radius: 20px;
}

.track-info {
    display: block;
    float: left;
    height: 30%;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.track-info-btn {
    float: left;
    margin-left: 2%;
    vertical-align: middle;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0 0;
    font-size: 12px;
    line-height: 1.42;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.track-title {
    display: block;
    float: left;
    height: 25%;
    width: 50%;
}

.track-genre {
    display: inline;
    float: left;
    margin-top: 10px;
    width: 15%;
}

.track-duration {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.track-remaining {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.track-play-btn {
    display: inline;
    float: left;
    width: 30px;
    height: 60%;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 4px;
    padding-left: 8px;
}

.playlist-info {
    float: left;
    font-size: 11px;
}

.playlist-genres {
    vertical-align: bottom;
    height: 50%;
    margin-top: 20px;
}

.playlist-logo {
    float: left;
    margin: 5px;
}
.playlist-title {
    padding-top: 5px;
}

#friends-body {
    position: absolute;
    width: 300px;
    min-height: 83%;
    z-index: 800;
    border: 2px solid black;
    margin-left: 61.6%;
    background: lightgrey;
}

#vkMusic-header-spinner.spinner {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10%;
}

#friends-header.table-header {
    margin-bottom: 5px;
}

.spinner {
    display: none;
    background: url(../Images/spinner_loading_circle.gif) no-repeat;
    background-size: contain;
}

#info-header-spinner.spinner {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10%;
}

#friends-header-spinner.spinner {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#playlist-header-spinner.spinner {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20%;
}

#friends-container {
    position: absolute;
    width: 300px;
    min-height: 50%;
    z-index: 1000;
    height: 94%;
}

div.friend {
    display: block;
    clear: left;
    height: 106px;
}

div.friend:hover {
    background: lightblue;
    cursor: pointer;
}

.friend-initials {
    width: 100%;
    height: 20%;
}


.friend-photo {
    float: left;
    margin: 3px;
    display: block;
}

span.label {
    padding: 3px;
    margin: 3px;
}

.login-container {
    background: url("../Images/login_bg.jpeg") 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.login-form {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 400px;
}

.providers {
    text-align: center;

}

.providers i.sn-btn {
    border: none;
    font-size: 30px;
    background: transparent;
    color: #555;
    padding: 5px 20px;
    box-sizing: border-box;
}

.providers i.sn-btn:hover {
    color: #1f1f1f;
    transition: color .512s linear;
    cursor: pointer;
}


.logo {
    text-align: center;
    font: normal normal normal 130px/1 FontAwesome;
}

hr {
    padding: 0px;
    margin: 0px;
    clear: left;
}

#draggableStub {
    display: none;
}

.draggable-item-selected {
	background: aquamarine;
}

.contextMenu {
    display: none;
    position: absolute;
    border: 1px solid lightgray;
    background: white;
    width: 150px;
}

.contextMenu .tableRow{
    height: 20px;
}

.contextMenu .tableRow:hover {
    background: #3399FF;
	cursor: pointer;
}
.contextMenuActionName {
    font-family: "Arial";
    font-size: 10pt;
    font-style: normal;
    padding: 3px 10px 3px 10px;
    float: left;
    width: 90%;
}
.contextMenuExpander {
    width: 10%
}
.subContextMenu {
    display: none;
    position: absolute;
    border: 1px solid lightgray;
    background: white;
    width: 150px;
}
.subContextMenu .tableRow{
    height: 20px;
}
.subContextMenu .tableRow:hover {
    background: #3399FF;
	cursor: pointer;
}

.unactiveContextMenuAction .contextMenuActionName{
    color: gray;
}

#trackInfoContainer {
    border: solid black 1px;
    position: absolute;
    top: 400px;
    display: none;
}
/*#trackInfoContainer div {
    float: left;
}*/
#trackInfoContainer div img {
    float: left;
}

#trackInfoContainer .tableRow {
    padding: 3px;
}