body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.stuck {
    position: fixed;
    overflow-y: auto;
    height: 100%;
}

.spacer {
    margin-top: 5px;
    margin-left: 5px;
    width: 45px;
    position: relative;
    overflow: hidden;
    height: 20px;
}

.spacer:after {
    content: "";
    display: block;
    width: 100%;
    margin: -25px auto 0;
    height: 25px;
    -ms-border-radius: 125px/12px;
    border-radius: 125px/12px;
    -webkit-box-shadow: 0 0 8px black;
    -ms-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px black;
}