body {
    padding-top: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body.landing-page{
    padding: 0;
}

html, body, .body-content {
    height: 99%;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#user-settings a {
    float: left;
    color: white;
}

#user-settings #user-image {
    padding: 0;
}

#user-settings img {
    max-width: 100%;
    max-height: 100%;
    padding: 7px;
    width: 50px;
    height: 50px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}

#user-name-item {
    padding: 5px 0px;
    color: white;
}

#log-off-link {
    padding: 0;
}

#logo-container {
    padding: 5px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.stuck {
    position: fixed;
    overflow-y: auto;
    height: 100%;
}

.spacer {
    margin-top: 5px;
    margin-left: 5px;
    width: 45px;
    position: relative;
    overflow: hidden;
    height: 10px;
}

.spacer:after {
    content: "";
    display: block;
    width: 100%;
    margin: -25px auto 0;
    height: 25px;
    -ms-border-radius: 125px/12px;
    border-radius: 125px/12px;
    -webkit-box-shadow: 0 0 8px black;
    -ms-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px black;
}

#itemsContainer {
	position: absolute;
    opacity: 0.5;
	z-index: 1000;
    display: block;
}

.delete-area{
	width: 200px;
	height: 200px;
	border: solid black 1px;
	/*visibility: hidden;*/
	float: left;
}

.accordion {
	width: 100%;
	border-bottom: solid 1px #c4c4c4;
}

div.accordion > div.tableRow{
	font: bold 100%/100% Arial, Helvetica, sans-serif;
	border-bottom: none;
	cursor: pointer;
}

div.accordion > div.dropdown {
    background: #e2e2e2 url(../Images/arrow-square.gif  ) no-repeat right -56px;
}

.accordion .tableRow.active {
	background-position: right 0;
}

div.list{
    height: 100%;
}

div.list span{
	/*width: 50%;*/
  	display:block;
  	float:left;
  	text-align:left;
}

div.tableHeader{
	clear: left;
    width: 100%;
}

div.tableRow{
	clear: left;
    width: 100%;
}

.vkMusicTable {
    height: 100%;
}

#searched-list > .vkMusicTable {
    height: 55%;
}

.table-header {
    position: relative;
    float: none;
    height: 20px;
}

.table-title {
    width: auto;
    float: left;
    font-weight: bold;
    font-size: larger;
}

.item-active {
    background: #F9851F;
}

.nowrap {
    overflow: hidden; 
    word-wrap: break-word;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.right {
    position: absolute;
    right: 10px;
}

.spinner {
    display: none;
}

span.label {
    padding: 3px;
    margin: 3px;
}

.login-container {
    background: url("../Images/login_bg.jpeg") 100% 100% no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.login-form {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -moz-min-width: 400px;
    -ms-min-width: 400px;
    -o-min-width: 400px;
    -webkit-min-width: 400px;
    min-width: 400px;
}

.providers {
    text-align: center;

}

.providers i.sn-btn {
    border: none;
    font-size: 30px;
    background: transparent;
    color: #555;
    padding: 5px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.providers i.sn-btn:hover {
    color: #1f1f1f;
    -webkit-transition: color .512s linear;
    -moz-transition: color .512s linear;
    -ms-transition: color .512s linear;
    -o-transition: color .512s linear;
    transition: color .512s linear;
    cursor: pointer;
}

.logo {
    text-align: center;
    font: normal normal normal 130px/1 FontAwesome;
}

hr {
    padding: 0px;
    margin: 0px;
    clear: left;
}

#draggableStub {
    display: none;
}

.draggable-item-selected {
	background: #F9851F;
    box-shadow: 5px 5px 6px -4px #222;
}

#trackInfoContainer {
    border: solid black 1px;
    position: absolute;
    top: 400px;
    display: none;
}

#trackInfoContainer div img {
    float: left;
}

#trackInfoContainer .tableRow {
    padding: 3px;
}

.counter-container {
    display: inline-block;
}

.count-label {
    position: relative;
    margin-left: 4px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    padding: 2px 5px 2px 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.count-label:before, .count-label:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.count-label:before {
    top: 50%;
    left: -3px;
    margin-top: -4px;
    border-width: 4px 4px 4px 0;
    border-right-color: #fafafa;
}

.count-label:after {
    top: 50%;
    left: -4px;
    z-index: -1;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #A8A8A8;
}

.user-photo > img {
    width: 50px;
    height: 50px;
}

#notifications-container {
    display: none;
    height: 93%;
    width: 100%;
}

#popup-notification {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.popup-notification {
    width: 320px;
    z-index: 10;
    font-family: Times New Roman;
    background: #000000;
    -webkit-box-shadow: 5px 5px 6px -4px #222;
    -ms-box-shadow: 5px 5px 6px -4px #222;
    box-shadow: 5px 5px 6px -4px #222;
    -ms-opacity: 0.77;
    opacity: 0.77;
    display: none;
}

.popup-notification a {
    color: #05457D;
}

.popup-notification-close {
    font-size: 40px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    -ms-opacity: 0.2;
    opacity: 0.2;
    -webkit-filter: alpha(opacity=20);
    -moz-filter: alpha(opacity=20);
    -o-filter: alpha(opacity=20);
    filter: alpha(opacity=20);
    text-decoration: none;
    padding-right: 5px;
    margin-top: -3px;
}

a.popup-notification-close {
    color: #F9F4EA;
}

.popup-notification-close:hover {
    color: #ffffff;
    text-decoration: none;
    -ms-opacity: 0.4;
    opacity: 0.4;
    -webkit-filter: alpha(opacity=40);
    -moz-filter: alpha(opacity=40);
    -o-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    cursor: pointer;
}

.popup-notification .popup-notification-content {
    margin-bottom: 5px;
}

.popup-notification-user-photo img{
    float: left;
    width: 65px;
    height: 65px;
}

.popup-notification-header {
    height: 50px;
    font-size: 19px;
    color: #ffffff;
    display: -webkit-inline-box;
}

.popup-notification-body {
    font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
}

.popup-notification-user-time {
    display: inline-block;
    margin-left: 8px;
    font-weight: bold;
}

.popup-notification-user-time span{
    display: block;
    width: 70%;
    font-size: 14px;
}

.popup-notification-item hr {
    margin-bottom: 10px;
    color: #000;
    background-color: #000;
    height: 2px;
}

#notifications-container {
    height: 93%;
    width: 100%;
    display: none;
}

.list-notification-item a {
    color: #05457D;
}

.list-notification-item {
    width: 97%;
    position: relative;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 3px;
    border: solid 2px rgb(186, 182, 182);
    box-shadow: 5px 5px 6px -4px #222;
}

.list-notification-item:hover {
    cursor: pointer;
    background: #FFD386;
}

.list-notification-item .list-notification-content {
    padding: 5px;
    margin: 3px;
}

.list-notification-user-photo {
    width: 50px;
    height: 50px;
    display: -webkit-box;
}

.list-notification-user-photo img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.list-notification-header {
    height: 50px;
    font-size: 14px;
    color: #554025;
    display: -webkit-inline-box;
}

.list-notification-body {
    font-size: 12px;
    color: #554025;
    margin-top: 15px;
}

.list-notification-user-time {
    display: inline-block;
    margin-left: 5px;
    width: 74%;
}

.list-notification-user-time {
    font-weight: bold;
}

.list-notification-user-time span{
    display: block;
    font-size: 10px
}

.mCSB_inside > .mCSB_container {
margin-right: 15px;
}